body
{
    font-family: futura_book;
    background: #ffffff;
    font-weight: 400;
    position: relative;
}
header{
    width: 100%;
}
.nav-item{
    font-family: futura_bold;
}
nav{
    background: white;  
    border-bottom: 3px solid #36ba94;
}
.inv-principal{
    background: url(../images/Inventario/Inventario.png);
    padding-top: 200px;
    padding-bottom: 100px;
}
h1{
    font-weight: bolder;
    letter-spacing: 2px;
}
.carousel{
    width: 100%;
}
.title{
    margin-left: 10%;
    color: white;
    border-bottom: 8px solid #36ba94;
    width : max-content;
    font-family: futura_bold;

}
.seccion2{
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background: url(../images/Inventario/Cuadricula.png);
}
.card-body{
    text-align: center;
    border: black solid 3px;
    border-top: black solid 6px;
}